extends ../layouts/default

block main
  h3= title
  
block content
  .row
    .col-md-12
      if (outcomes.length)
        table.table.table-striped.table-bordered
          thead
            tr
              th(scope="col") Date
              th(scope="col") Tag
              th(scope="col") PID
              th(scope="col") Name
              each q in sections
                th(scope="col")= q.name
              th(scope="col") Total
          tbody
            each p in outcomes
              tr
                td= formatDate(p.at)
                td= p.tag
                td
                  a(href="/patients/"+p.pat._id+"/outcomes")= p.pat._id
                td= p.pat.name
                each q in sections
                  td= p[q.code]
                td= p.total

        p.mb-3 Total: #{count}
        if (pages > 1)
          ul.pagination
            - var arr = paginate({ currentPage: page, totalPages: pages })
            each item in arr
              li.page-item(class=item.isActive && item.type === 'PAGE' && 'active')
                a.page-link(href=`?page=${item.value}`)
                  case item.type
                    when 'FIRST_PAGE_LINK': | First
                    when 'PREVIOUS_PAGE_LINK': | Previous
                    when 'PAGE': =item.value
                    when 'ELLIPSIS': | ...
                    when 'NEXT_PAGE_LINK': | Next
                    when 'LAST_PAGE_LINK': | Last
      else
        hr
        p.text-muted.my-3 No matched result.
